name = "transit-worker"
main = "src/index.ts"
compatibility_date = "2024-04-01"
compatibility_flags = ["nodejs_compat"]

# KV Namespace for Schedule & Realtime Data
kv_namespaces = [
  { binding = "TRANSIT_DATA", id = "${kv_id}" }
]

routes = [
	{ pattern = "${domain}/api/*", zone_id = "${zone_id}" }
]

[triggers]
crons = ["*/2 * * * *"] # Run every 2 minutes
